<% 
 // search album

 const {
    items: SearchAlbumItems
 } = locals.searchAlbum;
%>


<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title : `Search | Groove`}) %>

  </head>
  <body>
    <!-- Recently Played -->
    <%- include('../layouts/recent_played', {recentlyPlayed:
    locals.recentlyPlayedTracks}) %>

    <article class="page custom-scrollbar" data-page>
      <!-- Top App Bar -->
      <%- include('../partials/top_bar', locals.currentProfile ) %>

      <!-- Bottom Navigation -->
      <%- include('../partials/bottom_nav') %>

      <!-- Search Filter List -->
      <%- include('../partials/search_filter', { type: locals.type }) %>

      <div class="main" data-main>

        <section class="section">

            <div class="grid-list">
            
                <% SearchAlbumItems.forEach(({ id, images, name: title, artists, release_date, uri }) => { %>

                   <% 
                     const year = new Date(release_date).getFullYear();

                     const text = artists.map(({ name }) => name).join(', ');

                     const image = images.find(item => item.width === 300);
                   %>

                   <%- include('../partials/card', {
                    image,
                    type: 'album',
                    title,
                    text,
                    year,
                    link: `/album/${id}`,
                    uri
                   }) %>

                <% }) %>
            
            </div>

              <!-- # Pagination -->
            <%- include('../partials/pagination', locals.searchAlbum ) %>
        
        </section>
      </div>

      <!-- Footer -->
      <%- include('../layouts/footer') %>

      <!-- Player sm -->
      <%- include('../partials/player_sm') %>

      <!-- Player lg -->
      <%- include('../partials/player_lg') %>
    </article>
  </body>
</html>
